<div class="row">
  <div class="col-md-7 col-lg-6 col-sm-6"> <h3 class="text-muted">{{product.name}} Detail</h3></div>
  <div class="col-md-5 col-lg-6 col-sm-6">
  <h3><a class="pull-right" href="#/"><span class="glyphicon glyphicon-arrow-left text-muted"></span></a></h3>
  </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-6">
        <div>
            <img  class="img-responsive" ng-src="{{product.ImageUrl}}" alt="no-image"/>
        </div>
    </div>
</div>
<hr style="border-top:1px solid #efe9e9; width:99%;"/>
<div class="row">
     <div class="col-md-12 col-lg-12 col-sm-12">
          <h3>Short Description</h3>
         <p>{{product.shortDescription}}</p>
    </div>
</div>
 <hr style="border-top:1px solid #efe9e9; width:99%;"/>
<div class="row">
     <div class="col-md-12 col-lg-12 col-sm-12">
          <h3>Full Description</h3>
         <p>{{product.longDescription}}</p>
    </div>
</div>
